VITE_HOST_CHAIN_ID=11155111
VITE_GATEWAY_CHAIN_ID=10901
VITE_RELAYER_URL=https://relayer.testnet.zama.org
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_BOARDROOM_CONTRACT_ADDRESS=0x73784e99C0E183499Da4D3E8002CBd6fdadC36B2
VITE_BOARDROOM_TOKEN_ADDRESS=0x191B0d8E70b7866e834821D8DB2bC37780767538
VITE_RESULT_REVEAL_ADAPTER_ADDRESS=0x0f36aa1064Cf545eb435E33e4F23dec098362E7C
