VITE_HOST_CHAIN_ID=11155111
VITE_GATEWAY_CHAIN_ID=55815
VITE_RELAYER_URL=https://relayer.testnet.zama.cloud
VITE_BOARDROOM_CONTRACT_ADDRESS=0x6855B0D90f618885d056F898b14AEa513D633048
VITE_RESULT_REVEAL_ADAPTER_ADDRESS=0x45119A32ca6C4d67424401dA92Abe4EC6c83f8Ce
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
DEPLOYER_PRIVATE_KEY=replace-me
